body {
	margin:0;
}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
  overflow: hidden;
}
i {
  margin-right: 10px;
}
.two li::before {
	content: "";
}
.two ul li {
	list-style:none;
	margin-left:0px;
}
.two nav {
  display: block;
  width: 1334px;
  margin: 0 auto 30px;
}
.two ul {
  background: #42aaff;
  overflow: hidden;
  padding: 0;
}
.two li {
  list-style-type: none;
  float: left;
  font-size:94%;
}
.two a {
  display: block;
  padding: 7px;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #000;
  text-decoration: none;
}
.two a.active {
  background-color: #4CAF50;
  color: white;
}
.two a:hover {background: #ADC0CE}